# App launchers (rcmd)
rcmd - z : open -a Zen
rcmd - a : open -a /Applications/Ghostty.app
rcmd - f : open -a Finder
rcmd - n : open -a /Applications/Notion.app
rcmd - c : open -a /Applications/Notion Calendar.app
rcmd - g : open -a /Applications/Figma.app
{{- /* Machine-local bindings: ~/.config/skhd/skhdrc.local is not synced */}}
{{- $local := joinPath .chezmoi.homeDir ".config/skhd/skhdrc.local" }}
{{- if stat $local }}

{{ output "cat" $local | trim }}
{{- end }}
